* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

@font-face {
    font-family: 'Minerva Modern Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Minerva Modern Bold'), url('./fonts/MinervaModern\ Bold.woff') format('woff');
}

body {
    font-family: 'Minerva Modern Bold';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: #3D4435;
    color: #C2C8CC;
}

.social-medias ul {
    display: flex;
    margin: 0px 10px;
    padding: 20px;
    gap: 15px;
    justify-content: end;
}

.social-medias {
    grid-column: 1;
    grid-row: 1;
    align-content: center;
    font-size: 26px;
}

.middle {
    display: grid;
}

.top h1 {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 28px;
}

.bottom ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 8px;
    font-size: 20px;
}

.buttons ul {
    display: flex;
    margin: 10px;
    gap: 10px;
    justify-content: start;
}

.buttons button {
    border:#3D4435
}

.buttons {
    grid-column: 3;
    grid-row: 1;
    align-content: center;
}

.login-button {
    background-color: #3D4435;
    color: #C2C8CC;
    padding: 10px;
}

.workwm {
    background-color: #C2C8CC;
    padding: 10px;
}

.intro-text {
    grid-column: 2;
    padding: 15px;
    justify-content: center;
    
}

.intro-text h3, .intro-text h1 {
    text-align: center;
    text-transform: uppercase;
}

.intro-text h3 {
    padding: 10px;
    font-size: 25px;
}

.intro-text h1 {
    font-size: 40px;
}

@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
    }

    .middle {
        grid-row: 1;
    }

    

    .buttons {
        grid-column: 1;
        grid-row: 2;
        justify-content: end;
        display: flex;
        align-items: center;
    }

    .social-medias {
        grid-column: 1;
        grid-row: 2;
        justify-content: start;
        display: flex;
        align-items: center;
    }

    .social-medias i {
        font-size: 30px;
    }

    .intro-text {
        grid-column: 1;
        grid-row: 3;
        padding: 0px;
    }

    .intro-text h1 {
        font-size: 35px;
        padding-bottom: 15px;
    }
    
}
